
* {
  box-sizing: border-box;
}

body{
	background-image: url(../images/carbon_fibre/carbon_fibre.png);
	font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	line-height: 22px;
}

header {
	background-color: #ffffff;
	border-bottom: solid;
	border-color: #cccccc;
	font-family: 'Georgia', Times, Times New Roman, serif;
	height: 90px;
}

h1 {
	color: #ffffff;
	font-size: 24px;
	font: 'Georgia';
}

.name {
	background-color: #4aaaa5;
	color: #ffffff;
	display: inline-block;
	float: left;
	height: 90px;
	margin-left: 60px;
	padding: 20px;
	text-align: center;
}

.top-nav-menu {
	background-color: #ffffff;
	color: #777777;
	display: inline-block;
	float:right;
	text-align: center;
	text-decoration: none;
}

.content {
	background-color: #ffffff;
	float: left;
	margin-left: 60px;
	width: 650px;
}

.photo {
	float: left;
}

p {
	color: #777777;
	padding: 10px;
	margin: 10px;
}

aside {
	background-color: #ffffff;
	float: right;
	margin-right: 60px;
	width: 270px;
}

footer {
	background-color: #666666;
	border-top: solid;
	border-color: #4aaaa5;
	clear: both;
	color: #ffffff;
	height: 90px;
	text-align: center;
}

.btn {
	background-color: #4aaaa5;
	color: #ffffff;
	display: inline-block;
	margin: 0;
	padding: 10px 30px;
	text-align: center;
}