header {
	background-color: #ffffff;
	height: 90px;
}

#name {
	background-color: #4aaaa5;
	color: #ffffff;
	font-family: Times;
	float: left;
	margin-left: 88px;
	width: 320px;
	height: 90px;
	text-align: center;
}

.top-nav-menu {
	float: right;
	margin-right: 88px;
	font-family: Times;
	color: #777777;
}

.bigcontent {
	background-image:url(../images/carbon_fibre/carbon_fibre.png);
}

h2{
	font-family: Times;
}

.content {
	width: 650px;
	margin-left: 88px;
	background-color: #ffffff;
	font-family: Helvetica;
	color: #777777;
}

p {

}

aside {
	float: right;
	margin-right: 88px;
	font-family: Times;
	width: 270px;
}


footer {
	text-align: center;
	background-color: #666666;
	font-family: Helvetica;
}